@use '../styles/media';
@use '../styles/variables' as vars;

:host {
  display: block;
}

nav {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;

  @include media.until(tablet) {
    left: 0;
    height: 4rem;
  }

  @include media.from(tablet) {
    bottom: 10vh;
  }
}

main {
  display: grid;
  gap: vars.$gap;

  section {
    padding: vars.$section-padding;

    @include media.until(phone) {
      padding: 1rem;
    }
  }
}

footer {
  display: grid;
  gap: vars.$gap;
  justify-items: center;
  background-color: var(--surface-c);
  padding: vars.$gap;
  margin-top: vars.$gap;

  @include media.until(tablet) {
    margin-bottom: 4rem;
  }
}

.technologies {
  text-align: center;
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-family: var(--font-family-a);
  font-weight: 300;

  svg-icon {
    vertical-align: middle;
    width: unset;
  }
}
