<nav>
  <portfolio-nav-menu [sections]="sections"></portfolio-nav-menu>
</nav>

<main>
  <section *ngFor="let section of sections" [portfolioSpyTarget]="section.name">
    <div [portfolioAnimate]="section.animation" [duration]="section.duration">
      <ng-template [portfolioComponentHost]="section"></ng-template>
    </div>
  </section>
</main>

<footer>
  <button
    pButton
    pRipple
    class="p-button-secondary p-button-text legal"
    (click)="openLegalNotice()"
  >
    Legal Notice
  </button>
  <portfolio-contact-section> </portfolio-contact-section>
  <div class="technologies">
    Built with
    <svg-icon key="angular-text" fontSize="1.75rem"></svg-icon> and
    <svg-icon key="vercel" fontSize="1.75rem"></svg-icon>
  </div>
</footer>
