:host {
  display: block;
  margin: auto;
  max-width: 1024px;
  font-family: sans-serif;
}

nav {
  position: fixed;
  bottom: 10vh;
  right: 0;
  z-index: 999;
}

main {
  display: grid;
  padding: 2rem;
  gap: 2rem;
}
