@use '../styles/media';

:host {
  display: block;
  font-family: sans-serif;
}

nav {
  position: fixed;
  bottom: 10vh;
  right: 0;
  z-index: 999;
}

main {
  display: grid;
  max-width: 1024px;
  margin: auto;
  padding: 2rem;
  gap: 2rem;

  @include media.from(tablet) {
    gap: 4rem;
  }

  @include media.from(desktop) {
    gap: 8rem;
  }
}

footer {
  background-color: var(--surface-c);
  padding: 2rem;
  margin-top: 2rem;

  @include media.from(phone) {
    margin-top: 8rem;
  }

  @include media.from(tablet) {
    margin-top: 18rem;
  }
}
