---
import { Picture } from '@astrojs/image/components';
interface Props {
  slug?: string;
  image?: string;
  alt?: string;
}

const { image, alt = '', slug = '' } = Astro.props;
---

<div class="text-lg"><slot /></div>

{
  image && (
    <Picture
      transition:name={slug}
      src={image}
      {alt}
      widths={[250, 400, 800, 1200]}
      aspectRatio="16:9"
      formats={['avif', 'webp', 'jpeg']}
      class="w-full rounded"
    />
  )
}
