---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<p
  role="heading"
  class="flex justify-center p-4 border border-primary text-primary text-xl rounded-box"
>
  {text}
</p>
