code[class*='language-'],
pre[class*='language-'] {
  @apply text-neutral/80 font-victor-mono text-left whitespace-pre break-normal leading-normal hyphens-none selection:bg-primary/20;

  word-spacing: normal;
  word-wrap: normal;
  tab-size: 4;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  @apply p-4 mx-0 my-[.5em] overflow-auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  @apply bg-base-300 text-primary;
}

:not(pre) > code[class*='language-'] {
  @apply px-[.1em] rounded-sm whitespace-normal;
}

.token.string {
  @apply text-accent-focus dark:text-emerald-200;
}

.token.punctuation {
  @apply text-[#034c7c] dark:text-[#85b1e0]/80;
}

.token.comment {
  @apply text-[#357b42] dark:text-[#555c77] italic;
}

.token.variable {
  @apply text-[#a44185] dark:text-[#85b1e0];
}

.token.hexcode,
.token.boolean,
.token.number {
  @apply text-[#174781] dark:text-[#dda2f6] dark:italic;
}

.token.constant {
  @apply text-[#174781] dark:text-[#93ddfb];
}

.token.char,
.token.symbol,
.token.regex,
.token.builtin {
  @apply text-[#2970c7] dark:text-[#93ddfb];
}

.token.operator {
  @apply text-[#7b30d0] dark:text-[#b9bed5];
}

.token.exports,
.token.imports {
  @apply text-[#296d31] dark:text-[#adefb5];
}

.token.class-name {
  @apply text-[#1172c7] dark:text-inherit;
}

.token.function {
  @apply text-primary-focus dark:text-violet-400;
}

.token.tag {
  @apply text-[#0444ac] dark:text-[#85b1e0];
}

.token.attr-name {
  @apply text-[#df8618] dark:text-[#dda2f6] italic;
}

.token.selector {
  @apply text-[#df8618] dark:text-[#7e7edd] italic;
}

.token.property {
  @apply text-[#3a9685] dark:text-[#7e7edd];
}

.token.keyword {
  @apply text-secondary dark:text-indigo-400 italic;
}

.token.important,
.token.bold {
  @apply font-bold;
}
