<p-card *ngFor="let tech of technologies" [style]="{ height: '100%' }">
  <div class="content">
    <!-- Icon -->
    <svg-icon class="icon" [key]="tech.icon" x></svg-icon>

    <!-- Title -->
    <span class="title" [style]="{ textDecorationColor: tech.color }">{{
      tech.title
    }}</span>

    <!-- Text -->
    <p class="description">{{ tech.description.join(' - ') }}</p>

    <!-- Experience -->
    <div>
      <svg-icon
        *ngFor="let item of [].constructor(tech.experience)"
        key="bulb"
        [color]="tech.color"
      ></svg-icon>
      <svg-icon
        *ngFor="let item of [].constructor(10 - tech.experience)"
        key="bulb-outline"
      ></svg-icon>
    </div>
  </div>
</p-card>
