:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.content {
  display: grid;
  grid-template-rows: auto auto 3rem auto;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}

.icon {
  $size: 4rem;

  justify-self: center;
  width: $size;
  height: $size;
}

.title {
  text-decoration: underline;
}

.description {
  margin: 0;
}
