@use '../../../../styles/variables' as vars;
@use '../../../../styles/elevation';
@use '../../../../styles/media';

:host {
  display: block;
}

.card {
  display: grid;
  grid-template-areas:
    'title'
    'desc'
    'tags';

  @include media.from(tablet) {
    grid-template-areas:
      'title title title'
      'desc desc desc'
      'tags tags tags';
    grid-template-columns: repeat(3, 1fr);
  }

  grid-template-rows: auto 1fr auto auto;
  gap: vars.$gap;
  text-align: center;
  background-color: var(--surface-card);
  padding: vars.$section-padding;
  text-decoration: none;
  height: 100%;

  @include elevation.elevation(4);
}

.keywords,
.desc,
.purpose {
  font-family: var(--font-family-a);
}

.title {
  grid-area: title;

  h2 {
    margin-bottom: 0;
  }
}

.keywords {
  font-size: 0.9em;
  grid-area: tags;
}

.purpose {
  font-size: 0.8em;
}

.desc {
  grid-area: desc;
  text-align: center;

  @include media.from(tablet) {
    text-align: justify;
  }
}

.icon {
  justify-self: center;
  grid-area: icon;
}

.tech {
  h3 {
    margin-top: 0;
  }
}

p {
  margin: 0;
}
