@use '@material/elevation/mdc-elevation';
@use './styles/media';
@use './styles/variables' as vars;
@import './styles/typography';

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--text-color);
}

.p-card {
  background-color: var(--surface-card);

  .p-card-body {
    @include media.until(phone) {
      padding: 1rem;
    }
  }
}

section {
  display: flex;
  align-items: center;
  min-height: 100vh;

  & > * {
    max-width: 1024px;
    margin: auto;
    flex: 1;
  }

  &#projects {
    background-color: var(--surface-c);
  }
}
