@use './styles/media';
@import './styles/typography';

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  color: var(--text-color);
}

.p-card {
  background-color: var(--surface-card);

  .p-card-body {
    @include media.until(phone) {
      padding: 1rem;
    }
  }
}
