---
import type { MDXLayoutProps } from 'astro';
import type { SEO } from 'astro-seo';

import Footer from '../components/Footer.astro';
import Head, { type HeadProps } from '../components/Head.astro';
import BottomNav from '../components/navigation/BottomNav.astro';
import Navbar from '../components/navigation/Navbar.astro';

interface HTMLProps
  extends HeadProps,
    Omit<astroHTML.JSX.HTMLAttributes, 'title' | 'slot'>,
    astroHTML.JSX.IntrinsicAttributes {
  prose?: boolean;
}

export type Props = HTMLProps & Partial<MDXLayoutProps<HTMLProps>> & Parameters<typeof SEO>[number];

const {
  prose,
  class: className,
  ...props
} = { ...Astro.props, ...Astro.props.frontmatter } as Props;
---

<!doctype html>
<html lang="en" class="bg-base-300">
  <Head {...props} />

  <body class="flex flex-col min-h-screen m-0 bg-base-300">
    <!-- backdrop -->
    <div class="fixed inset-0 z-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-6xl bg-gradient ring-1 ring-secondary/20"></div>
    </div>

    <header class="sticky top-0 z-50 flex justify-center sm:px-8">
      <Navbar id="navbar" class="w-full max-w-6xl transition-shadow" />
    </header>

    <main
      class:list={[
        { prose },
        className,
        'relative max-w-[100vw] lg:max-w-6xl sm:px-8 lg:px-16 mx-auto mt-8 mb-16',
      ]}
    >
      <div class="relative px-4 sm:p-8 lg:p-12">
        <!-- Content -->
        <slot />
      </div>
    </main>

    <div class="relative z-10 mt-auto flex justify-center sm:px-8">
      <Footer class="w-full max-w-6xl" />
    </div>

    <div class="sticky bottom-0 z-10 sm:hidden">
      <BottomNav />
    </div>

    <script>
      window.addEventListener('scroll', () => {
        const navbar = document.querySelector('#navbar');
        const shadow = ['shadow-md', 'shadow-base-300', 'dark:shadow-base-300/50'];

        if (window.scrollY > 0) navbar?.classList.add(...shadow);
        else if (window.scrollY === 0) navbar?.classList.remove(...shadow);
      });
    </script>
  </body>
</html>
