---
import type { Tagname } from '../../types';

type Props<Tag extends Tagname = Tagname> = {
  tag?: Tag;
  'class:list'?: Array<string | undefined>;
  hoverClasses?: string | string[];
} & astroHTML.JSX.DefinedIntrinsicElements[Tag];

const {
  tag: Tag = 'div',
  class: className,
  'class:list': classes = [],
  hoverClasses = [],
  ...props
} = Astro.props as Props;
---

<Tag {...props as any} class:list={[className, ...classes, 'relative group block isolate ']}>
  <!-- content -->
  <slot />

  <!-- hover -->
  <div
    class:list={[
      ...(Array.isArray(hoverClasses) ? hoverClasses : [hoverClasses]),
      'absolute inset-0 pointer-events-none blur-lg bg-neutral/80 opacity-0 scale-90 -z-10 group-hover:blur-none group-hover:scale-100 group-hover:opacity-100 transition-[scale_opacity_filter] sm:rounded-box',
    ]}
  >
  </div>
</Tag>
