@use '../../styles/variables' as vars;
@use '../../styles/media';

:host {
  display: grid;
  gap: vars.$gap;
  grid-template-columns: 1fr;
  grid-template-areas: 'heading';

  @include media.from(desktop) {
    grid-template-areas: 'heading heading';
    grid-template-columns: 1fr 1fr;
  }
}

.heading {
  grid-area: heading;
  text-align: center;

  @include media.from(desktop) {
    font-size: 3em;
    margin-top: 0;
  }
}
