@use '@material/elevation' as el;

@mixin elevation($z) {
  border-radius: var(--border-radius);
  border: 1px var(--surface-border) solid;

  &:hover {
    border-color: transparent;
    @include el.elevation($z);
  }

  transition: el.transition-value(),
    border el.$transition-duration el.$transition-timing-function;
  will-change: el.$property, border;
}
