$phone: 380px;
$tablet: 600px;
$desktop: 900px;
$wide: 1200px;
$ultrawide: 1800px;

@mixin from($size) {
  @if $size == phone {
    @media (min-width: $phone) {
      @content;
    }
  } @else if $size == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  } @else if $size == wide {
    @media (min-width: $wide) {
      @content;
    }
  } @else if $size == ultrawide {
    @media (min-width: $ultrawide) {
      @content;
    }
  }
}

@mixin until($size) {
  @if $size == phone {
    @media (max-width: #{$phone - 1}) {
      @content;
    }
  } @else if $size == tablet {
    @media (max-width: #{$tablet - 1}) {
      @content;
    }
  } @else if $size == desktop {
    @media (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $size == wide {
    @media (max-width: #{$wide - 1}) {
      @content;
    }
  } @else if $size == ultrawide {
    @media (max-width: #{$ultrawide - 1}) {
      @content;
    }
  }
}
