.customer {
  display: grid;
  gap: 1rem;
  justify-items: center;

  text-decoration: none;

  &:visited,
  &:active {
    color: inherit;
  }

  svg-icon {
    $size: 10rem;

    width: $size;
    height: $size;
  }

  .title {
    font-size: 3rem;
  }
}
