<h2
  class="text-base-content/80 font-[Exo] font-semibold text-xl leading-8 mb-1.5 mt-0 transition-all group-hover:text-2xl group-hover:text-base-content dark:group-hover:text-white"
>
  <slot />
</h2>
