---
import { Picture } from '@astrojs/image/components';

import ColorBlend from './ColorBlend.astro';

import IconDownload from '~icons/line-md/download-loop';
---

<app-portrait
  class="grid grid-areas-[avatar,hello] sm:grid-areas-[avatar_hello] sm:grid-cols-[1fr_1fr] gap-16 max-w-xl mx-auto mb-16"
>
  <!-- Portrait -->
  <ColorBlend
    class="bg-clip-text grid-in-[avatar] justify-self-center rounded-box -rotate-6 hover:rotate-0 transition duration-500 shadow-md shadow-base-content/30 dark:shadow-base-300 hover:shadow-primary/50 dark:hover:shadow-primary/50 hover:shadow-lg"
    blendClasses="transition-colors duration-500 bg-base-200 group-hover:bg-base-200/0 "
  >
    <Picture
      src="/avatar.jpg"
      alt="Portrait"
      widths={[250, 400]}
      sizes="(max-width: 250px) 150px, 400px"
      aspectRatio="1:1"
      formats={['avif', 'webp', 'jpeg']}
      class="my-0 w-52 lg:max-w-xs contrast-[110%] group-hover:contrast-100 transition-transform duration-500 scale-110 supports-safari-not:group-hover:scale-100"
    />
  </ColorBlend>

  <!-- Text -->
  <div class="grid-in-[hello] flex flex-col justify-center">
    <h1 class="mb-0">Hello there.</h1>
    <p>I'm Ben and I sense you are looking for an excellent frontend engineer.</p>

    <!-- CV -->
    <a
      href="/cv_ger.pdf"
      download="montazer_cv.pdf"
      class="btn btn-sm btn-primary btn-block gap-2 normal-case"
    >
      <IconDownload />
       Download CV
    </a>
  </div>
</app-portrait>
