@use '../../../../styles/media';
@use '../../../../styles/variables';

:host {
  display: grid;
  gap: variables.$gap;
  grid-template-columns: 1fr;

  @include media.from(phone) {
    grid-template-columns: 1fr 1fr;
  }
}

.content {
  display: grid;
  gap: 0.5 * variables.$gap variables.$gap;
  grid-template-columns: 1fr;
  grid-template-areas:
    'icon'
    'title'
    'description';
  text-align: center;

  @include media.from(tablet) {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'icon title'
      'icon description';
    text-align: start;
  }
}

.icon {
  $size: 5rem;

  grid-area: icon;
  justify-self: center;
  width: $size;
  height: $size;
}

.title {
  grid-area: title;
  align-self: flex-end;
  font-size: 1.25rem;
  font-weight: 500;
}

.description {
  grid-area: description;
  align-self: flex-start;
  font-size: 0.9rem;
  margin: 0;
  font-family: Quicksand;
}
