---
import Timeline from '../components/experience/Timeline.astro';
import Layout from '../layouts/Layout.astro';

export const title = 'experience';
export const order = 2;
---

<Layout title={title} prose>
  <h1 class="cursor">_{title}</h1>

  <Timeline class="sm:ml-24" />
</Layout>
