---
import Timeline from '../components/experience/Timeline.astro';
import Layout from '../layouts/Layout.astro';

export const title = 'experience';
export const order = 2;
---

<Layout title={title}>
  <div class="prose mb-8">
    <h1 class="cursor">_{title}</h1>
  </div>

  <Timeline class="sm:ml-24" />
</Layout>
