---
import Timeline from '../components/experience/Timeline.astro';
import Layout from '../layouts/Layout.astro';

export const title = 'experience';
export const order = 2;
---

<Layout title={title} prose>
  <h1 class="cursor">_{title}</h1>

  <p class="text-xl">
    I've been working as a software engineer on a variety of projects, from small startups to large
    enterprises, and in between. I've worked on projects that have been used by thousands, and I've
    worked on projects that have been used by only a select few.
  </p>

  <Timeline class="sm:ml-24" />
</Layout>
