---
import TechCard from '../components/technologies/TechCard.astro';
import { frameworks, bundlers, testRunners, tools } from '../constants/tech.const';
import Layout from '../layouts/Layout.astro';
import type { Technology } from '../models/technology.model';

interface Section {
  title: string;
  technologies: Technology[];
}

const sections: Section[] = [
  { title: 'Frameworks', technologies: frameworks },
  { title: 'Testing', technologies: testRunners },
  { title: 'Bundling', technologies: bundlers },
  { title: 'Tools', technologies: tools },
];

export const title = 'tech';
export const order = 1;
---

<Layout title={title} prose>
  <h1 class="cursor">_technologies</h1>

  <p>
    Here are some of my favorite technologies to build web-applications, micro-frontends,
    WebComponents and anything in between.
  </p>

  <div class="flex flex-col gap-16">
    {
      sections.map(section => (
        <section>
          <div class="divider mt-16 mb-8">
            <h2 class="m-0">{section.title}</h2>
          </div>

          <ul class="reset-list grid gap-12 grid-cols-1 md:grid-cols-2">
            {section.technologies.map(tech => (
              <li>
                <TechCard {tech} />
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </div>
</Layout>
