---
import Avatar from '../../assets/image/avatar.jpg';
import Picture from '../common/Picture.astro';

import ColorBlend from './ColorBlend.astro';

import IconDownload from '~icons/line-md/download-loop';
---

<app-portrait
  class="grid grid-areas-[avatar,hello] sm:grid-areas-[avatar_hello] sm:grid-cols-[1fr_1fr] gap-16 mx-auto mb-16"
>
  <!-- Portrait -->
  <ColorBlend
    class:list={[
      'grid-in-[avatar] not-prose max-w-md w-full aspect-square bg-clip-text place-self-center rounded-full',
      'shadow-md shadow-base-content/30 dark:shadow-base-300 hover:shadow-primary/50 dark:hover:shadow-primary/50 hover:shadow-lg',
      '-rotate-6 hover:rotate-0 transition duration-500',
      'animate-fade-grow animate-once animate-ease-in-out animate-duration-300',
    ]}
    blendClasses="transition-colors duration-500 bg-neutral/90 group-hover:bg-transparent dark:bg-secondary/90"
  >
    <Picture
      src={Avatar}
      alt="Portrait"
      widths={[250, 400, 800]}
      sizes="(max-width: 250px) 150px, 400px"
      aspectRatio="1:1"
      formats={['avif', 'webp', 'jpeg']}
      loading="eager"
      decoding="sync"
      class="my-0 w-full contrast-125 brightness-110 group-hover:contrast-100 group-hover:brightness-100 transition-all duration-500 scale-[1.15] supports-safari:transition-transform supports-safari-not:group-hover:scale-100"
    />
  </ColorBlend>

  <!-- Text -->
  <div
    class="grid-in-[hello] flex flex-col justify-center !animate-delay-300 animate-fade-up sm:animate-fade-left"
  >
    <h1 class="mb-0">Hello there.</h1>
    <p class="text-xl">I'm Ben and I sense you are looking for an excellent frontend engineer.</p>

    <!-- CV -->
    <a
      href="/cv_ger.pdf"
      download="montazer_cv.pdf"
      class="btn btn-primary btn-block text-lg hover:text-primary-content dark:hover:text-inherit normal-case animate-fade-pulse ease-in-out animate-delay-[1200ms] animate-duration-500"
    >
      <IconDownload />
       Download CV
    </a>
  </div>
</app-portrait>
