---
type Props = {
  href?: string;
  target?: string;
  class?: string;
  inset?: boolean;
  prefetch?: 'viewport' | 'tap' | 'load' | 'hover' | false;
};

const { href, target, class: className, inset } = Astro.props;

const Tag = href ? 'a' : 'div';
const prefetch =
  Astro.props.prefetch === false || target ? false : (Astro.props.prefetch ?? 'viewport');
---

<div class:list={[{ 'mx-4 mb-4': !inset }, 'relative group isolate h-full']}>
  <!-- content -->
  <Tag
    {href}
    {target}
    rel={target ? 'noreferrer' : ''}
    data-astro-prefetch={prefetch}
    class:list={[
      className,
      { 'p-4': !inset },
      'prose experience-prose block text-group-hover no-underline h-full',
    ]}
  >
    <slot />
  </Tag>

  <!-- hover backdrop -->
  <div class:list={[{ '!-inset-4': inset }, 'hover-backdrop']}></div>
</div>

<style lang="scss">
  .hover-backdrop {
    @apply absolute inset-0 pointer-events-none blur-lg bg-base-content dark:bg-neutral opacity-0 scale-90 -z-10 group-hover:blur-none group-hover:scale-100 group-hover:opacity-100 transition-[scale_opacity_filter] sm:rounded-box;
  }
</style>
