---
import { Picture, type LocalImageProps } from 'astro:assets';

interface Props {
  slug?: string;
  image?: LocalImageProps['src'];
  alt?: LocalImageProps['alt'];
}

const { image, alt = '', slug = '' } = Astro.props;
---

<div class="text-lg"><slot /></div>

{
  image && (
    <Picture
      transition:name={slug}
      src={image}
      {alt}
      widths={[250, 400, 800, 1200]}
      formats={['avif', 'webp']}
      fallbackFormat="webp"
      class="w-full rounded"
      loading="eager"
      decoding="sync"
    />
  )
}
