@use '../../styles/media';

:host {
  display: block;
  min-width: 8rem;
}

ol {
  margin: 0;
  padding: 1rem;
  background-color: var(--surface-c);
  backdrop-filter: blur(1rem);

  @include media.from(tablet) {
    border-left: 0.25rem solid var(--bluegray-700);
  }

  @include media.until(tablet) {
    display: flex;
    justify-content: space-evenly;
  }

  li {
    list-style-type: none;
    margin: 0.5rem 0;

    a {
      text-decoration: none;
      transition: color 500ms, font-size 500ms;
      will-change: color, font-size;

      $color-inactive: var(--text-color-secondary);

      &:link,
      &:visited {
        color: $color-inactive;
      }

      &.active {
        font-size: 1.25rem;
        font-weight: 900;
        color: var(--text-color);
      }
    }
  }
}
