---
import type { MDXLayoutProps } from 'astro';
import type SEO from 'astro-seo/src/SEO.astro';

import BottomNav from '../components/BottomNav.astro';
import Footer from '../components/Footer.astro';
import Head, { HeadProps } from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';

import '../styles/bg-gradient.scss';

interface HTMLProps extends HeadProps {
  prose?: boolean;
}

type Props = HTMLProps & Partial<MDXLayoutProps<HTMLProps>> & Parameters<typeof SEO>[number];

const { prose, ...props } = { ...Astro.props, ...Astro.props.frontmatter } as Props;
---

<!DOCTYPE html>
<html lang="en" class="bg-base-300">
  <Head {...props} />

  <body class="flex flex-col min-h-screen m-0 bg-base-300">
    <!-- backdrop -->
    <div class="fixed inset-0 z-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-5xl bg-gradient ring-1 ring-secondary/20"></div>
    </div>

    <header class="sticky top-0 z-50 flex justify-center sm:px-8">
      <Navbar id="navbar" class="w-full max-w-5xl transition-shadow" />
    </header>

    <main class:list={[{ prose: prose }, 'relative max-w-5xl sm:px-8 mx-auto mt-8']}>
      <div class="lg:px-8 mb-16">
        <div class="relative px-4 sm:p-8 lg:p-12">
          <!-- Content -->
          <slot />
        </div>
      </div>
    </main>

    <div class="z-10 mt-auto flex justify-center sm:px-8">
      <Footer class="w-full max-w-5xl" />
    </div>

    <div class="sticky bottom-0 z-10 sm:hidden">
      <BottomNav />
    </div>

    <script>
      window.addEventListener('scroll', () => {
        const navbar = document.querySelector('#navbar');
        const shadow = ['shadow-md', 'shadow-base-300', 'dark:shadow-base-300/50'];

        if (window.scrollY > 0) navbar?.classList.add(...shadow);
        else if (window.scrollY === 0) navbar?.classList.remove(...shadow);
      });
    </script>

    <style lang="scss">
      @keyframes pulse {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 0;
        }
      }
    </style>
  </body>
</html>
