@use '../../styles/media';

$marker-size: 4rem;
$arrow-size: 1rem;
$arrow-margin: 4rem * 0.25;

:host {
  display: block;
}

.custom-marker {
  $size: 4rem;

  display: flex;
  width: $size;
  height: $size;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

::ng-deep {
  .p-timeline-event-content,
  .p-timeline-event-opposite {
    line-height: 1;
  }
}

$arrow-size: 1rem;

.arrow {
  margin-top: $arrow-margin;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: $arrow-size solid transparent;
  border-bottom: $arrow-size solid transparent;
}

.event-container {
  display: flex;
}

.text {
  margin: 0;
}

.p-button-text {
  margin-top: 1rem;
}

.spacer {
  margin-top: 2rem;
}

::ng-deep {
  .p-timeline-event-connector {
    background-color: red;
    &::after {
      height: 1rem;
      background-color: red;
    }
  }

  .custom-timeline .p-timeline-event {
    .p-timeline-event {
      &-opposite {
        @include media.until(tablet) {
          max-width: 0;
        }
      }

      &-content,
      &-opposite {
        padding: 0;
      }
    }

    @include media.until(tablet) {
      .arrow-left {
        margin-right: -1px;
        border-right: $arrow-size solid var(--surface-a);
        margin-left: 1rem;
      }
    }

    @include media.from(tablet) {
      &:nth-child(even) .arrow-right {
        margin-left: -1px;
        border-left: $arrow-size solid var(--surface-a);
        margin-right: 1rem;
      }

      &:nth-child(odd) .arrow-left {
        margin-right: -1px;
        border-right: $arrow-size solid var(--surface-a);
        margin-left: 1rem;
      }
    }
  }
}
