---
import LogoAstro from '~icons/devicon/astro';
import LogoTailwind from '~icons/logos/tailwindcss-icon';

interface Props {
  class: string;
}

const { class: className } = Astro.props as Props;
---

<footer
  class:list={[
    className,
    'flex flex-col gap-4 items-center p-8 border-t border-slate-300 dark:border-secondary/20',
  ]}
>
  <p class="flex items-center justify-center space-x-2 font-mono">
    <span>Built with</span>
    <span data-tip="Astro" class="tooltip"><LogoAstro /></span>
    <span>and</span>
    <span data-tip="Tailwind" class="tooltip"><LogoTailwind /></span>
  </p>

  <!-- Contact -->
  <section class="text-sm text-center font-extralight font-default">
    <div class="mb-1 text-xs">Benjamin Montazer | Kirchstraße 27 | 86637 Wertingen</div>
    <a href="tel:+4914156177881" title="phone number" class="link link-hover"
      >+49 (0) 151 56177881</a
    > |
    <a href="mailto:benjamin@montazer.dev" title="email address" class="link link-hover">
      benjamin@montazer.dev
    </a>
  </section>

  <div class="font-mono text-2xl divider max-lg:my-0 text-base-content/30">§</div>

  <!-- Legal -->
  <section class="legal">
    This website contains links to external websites. We cannot accept liability for contents of
    these third-party websites, as they are beyond our control.<br />Responsibility for the contents
    of the linked pages is always held by the provider or operator of those pages.
  </section>
  <section class="legal">
    © {new Date().getFullYear()} Benjamin Montazer. All rights reserved.
  </section>
</footer>

<style lang="scss">
  .legal {
    @apply text-xs text-base-content/50 font-mono text-justify sm:text-center;
  }
</style>
