---
export const title = 'Scrum Poker';
export const first = `Serverless cloud implementation of scrum poker with multiple rooms.`;
export const technologies = ['Angular', 'Firebase', 'Serverless'];
export const order = 2;
export const href = 'https://poker.montazer.dev';
---

<h1>{title}</h1>
