---
import { CollectionEntry } from 'astro:content';

import Badges from '../markdoc/Badges.astro';
import Hover from '../markdoc/Hover.astro';
import Link from '../markdoc/Link.astro';

interface Props {
  class?: string;
  app: CollectionEntry<'apps'>;
}

const { class: className, app } = Astro.props;
---

<Hover href={app.data.href} target="_blank" inset class:list={[className, 'no-underline']}>
  <!-- title -->
  <h2 class="my-0">{app.data.title}</h2>

  <!-- summary -->
  <p>{app.data.firstParagraph}</p>

  <!-- tags -->
  <Badges>
    <ul>
      {app.data.technologies.map(tech => <li>{tech}</li>)}
    </ul>
  </Badges>

  <!-- href -->
  <Link groupHover class="mt-3">{new URL(app.data.href).host}</Link>
</Hover>
