@use '../../styles/media';

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'avatar'
    'about'
    'text'
    'contacts';

  column-gap: 4rem;
  row-gap: 1rem;
  align-items: center;

  @include media.from(tablet) {
    column-gap: 4rem;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'avatar about'
      'text text'
      'contacts contacts';
  }
}

picture {
  display: flex;
  justify-content: center;
}

img {
  @include media.imageFrom(none, 60%);
  @include media.imageFrom(tablet, 16rem);

  border-radius: 50%;
}

.avatar {
  grid-area: avatar;
}

.about {
  grid-area: about;

  .intro {
    font-size: 2.5em;
    text-align: center;

    @include media.from(tablet) {
      text-align: start;
      font-size: 3em;
    }

    @include media.from(desktop) {
      font-size: 4em;
    }
  }

  .caption {
    font-size: 1.2em;
    font-weight: 700;

    @include media.from(tablet) {
      font-size: 1.3em;
    }

    @include media.from(desktop) {
      font-size: 1.5em;
    }
  }
}

.text {
  grid-area: text;
  font-size: 1em;
  text-align: justify;
  font-family: Quicksand;
  font-weight: 300;

  @include media.from(desktop) {
    font-size: 1.1em;
  }
}

.contacts {
  grid-area: contacts;
}
