:host {
  display: grid;
  grid-template-areas:
    'avatar text'
    'contacts contacts';
  grid-template-columns: auto 1fr;
  column-gap: 4rem;
  row-gap: 1rem;
  align-items: center;
}

img {
  $size: 8rem;

  width: $size;
  height: $size;

  border-radius: 50%;
}

.avatar {
  grid-area: avatar;
}

.text {
  grid-area: text;

  .caption {
    font-weight: 700;
  }

  .sudoku {
    font-size: 0.75em;
  }
}

.contacts {
  grid-area: contacts;
}
