<div class="grid grid-areas-[aside_main] max-w-[21cm]">
  <aside class="grid-in-[aside] px-4 bg-primary prose prose-headings:text-base-100">
    <h1 class="flex justify-center items-center h-12 text-xl">Contact</h1>
  </aside>

  <main class="grid-in-[main] prose px-4 max-w-none">
    <slot />
  </main>
</div>
